<div class="page-title">
  <h3 class="breadcrumb-header">
    <i class="menu-icon fad fa-lambda"></i>
    Lambdas &nbsp;
    <a href="#">
      <i class="fad fa-xs btn-default fa-info-circle"></i>
    </a>
  </h3>
</div>
<div id="main-wrapper">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-white">
        <div class="panel-body">
          <div class="table-responsive">
            <table id="table-lambdas" class="display table" style="width: 100%;">
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>Node</th>
                  <th>Handler</th>
                  <th>Tamanho</th>
                  <th>Memória</th>
                  <th>Pack</th>
                  <th>Estado</th>
                  <th>Status</th>
                  <th>Data de modificação</th>
                  <th>Opções</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div><!-- Row -->
</div><!-- Main Wrapper -->
