<div class="page-title">
  <h3 class="breadcrumb-header">
    <i class="menu-icon fad fa-flag"></i>
    Simple Notification Service (SNS) &nbsp;
    <a href="#">
      <i class="fad fa-xs btn-default fa-info-circle"></i>
    </a>
  </h3>
</div>
<div id="main-wrapper">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-white">
        <div class="panel-body">
          <button type="button" class="btn btn-success m-b-sm" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i> Novo</button>
          <div class="table-responsive">
            <table id="example3" class="display table" style="width: 100%;">
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>Data de início</th>
                  <th>Opções</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div><!-- Row -->
</div><!-- Main Wrapper -->
